
/* Standard Header */



*{
margin: 0;
padding: 0;;

}

:root{
font-family: Arial, Helvetica, sans-serif;
background-color: var(--primary-colorone) ;
--primary-colorone: #f5fffa;
--primary-colortwo: #4169e1;
--header-elements: cornsilk;
--text-color: #b0c4de;
--hover-color:#87cefa;
}


.header{
   
background-color: var(--primary-colortwo);
padding: 1rem .5rem;
border-radius: 5px;

}
.elements{

height: 100%;
display: flex;
align-items: center;
justify-content: space-around;

}


.title{
    
    flex-grow: 2;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 2rem;
   

}
a{
    color: var(--header-elements);
    text-decoration: none;
}

.action-button{
    background: transparent;
    border-radius: 1rem;
    padding: 3px;
    border:none;
color: var(--header-elements);
margin: 0 0.5rem;

}

.action-button:hover{
   background-color: var(--hover-color);
    transform: scale(1.1);
    transition: transform 300ms linear 200ms;

}

p{
    padding:.5rem .5rem;
}
.text-area{
    margin: .5rem;
    padding: .5rem;;
}



/* Fixed Header */
/* .fixed-header{
    position: sticky;
    top:0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
     
} */

/* Dense-header */
/* .dense-header{
    padding: .5rem .5rem;
} */

/* .short-header{
 position: sticky;
top: 0;
border-bottom-right-radius: 40px;
box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
width: 112px;
} */

/* Prominent Header */
.prominent-elements{

    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    }
h2{
  align-self: flex-end;  
}
